streamlit
streamlit-webrtc
# 這是修復 socket error 的關鍵
aiortc==1.6.0
# 這是修復 pkg-config 編譯錯誤的關鍵
av==10.0.0
# 這是修復 AttributeError 的關鍵
mediapipe==0.10.9
protobuf==3.20.3
torch
numpy
opencv-python-headless